site_name: Docs
site_url: https://docs.fa24b.de/
theme:
  name: material
  language: de
  #  logo: https://images.wimwenigerkind.com/wimwenigerkind-transparent-icon.png
  #  favicon: https://images.wimwenigerkind.com/wimwenigerkind-transparent-icon.png
  #  custom_dir: docs/overrides
  features:
    - navigation.footer
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - navigation.tabs
    - search.highlight
    - navigation.instant
    - content.action.edit
    - content.action.view
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  icon:
    repo: fontawesome/brands/github
repo_url: https://github.com/wimwenigerkind/docs.fa24b.de
repo_name: wimwenigerkind/docs.fa24b.de
edit_uri: edit/main/docs/
extra_css:
  - assets/stylesheets/extra.css
extra:
  version:
    provider: mike
plugins:
  - search:
      lang: de
  - git-revision-date-localized:
      enable_creation_date: true
  - git-committers:
      repository: wimwenigerkind/docs.fa24b.de
      branch: main
markdown_extensions:
  - abbr
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
copyright: Copyright &copy; 2025 fa24b.de